body {
    background-image: url(dark_wood.png);

    <!-- extra css #1 -->
    background-attachment: scroll;
}

p {

    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    color: #FFBC00; 
    font-size: 40px; 
    font-family: "Passion One"; 
    margin-bottom: 0px;


}

li {

}

#Header {
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;

}

#Header h1 {
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;

    <!-- extra css #2 -->
    text-decoration-line: overline;

}

#LeftNav {
    border: solid 8px black;
    width: 400px;
    float: left;
    text-align: center;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    padding-bottom: 8px;

}

#LeftNav img {

}

#LeftNav ul {

}

#LeftNav h3 {

    <!-- extra css #3 -->
    text-shadow: 2px 2px;

}

#Content {
    border: solid 8px black;
    width: 700px;
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#Footer {
    border: solid 8px black;
    text-align: center;

    <!-- extra css #4 -->
    opacity: 0.50; 
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

div {
    background-color: #8E41D5;
}

a {
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}

img {
    position: absolute;
    
    <!-- extra css #5 -->
    z-index: 1;
}